<footer>
    <div class="partFooter">
        
    </div>
    <div class="partFooter">
        <h4>SAN MIGUEL</h4>
        <a href="#"><i class="fas fa-phone-alt"></i>
             511 530 - 305</a>
        <a href="#"><i class="fas fa-map-marker-alt"></i>
            Av. la Marina 2997-2949
            </a>            
    </div>        
    <div class="partFooter">
        <h4>CHORRILLOS</h4>
        <a href="#"><i class="fas fa-phone-alt"></i> 511 251 - 8109</a>
        <a href="#"><i class="fas fa-map-marker-alt"></i> Malecon Grau 984.<br>Chorrillos</a>            
    </div>                   
    
    <div class="copy">                        
        <p>&copy;2021 Cinema Center All Rights | Desarrollado por Best Solvers</p> 
    </div>       
</footer>
