<main>
    <div class="contenedor">
     
        <section class="section_detalles">
            <div class="section_detalle-img">
                <img src="/assets/img/iron_man_3.jpg" alt="">
            </div>
            <div class="section_detalle-info">
                <span>Carne / Parrilla </span>
                <h2>Iron man 3 español</h2>
                <p>"Iron Man no es suficiente. Incluso con Máquina de Guerra cubriéndole la espalda. Para lo que está viniendo, necesitaremos una Legión de Hierro"</p>
                
                <div class="container-compra">
                    <div class="cant-container">
                        <div class="item-menos" id="menos"><span>-</span></div>
                          <input type="text" size="2" min="1" value="1" id="txtcantidad" class="item-cantidad" name="cant">
                        <div class="item-mas" id="mas"><span>+</span></div>
                    </div>
                    <a routerLink="/compra" routerLinkActive="active">Carrito | <i class="fas fa-shopping-cart"></i></a>
                </div>
                <div class="item-salida">                                                            
                    <p class="item-precio">Precio: S/.<input class="importe" readonly type="text" min="1" id="importe"></p>                                                                     
                </div>
            </div>
        </section>
    
    </div>
</main>