<main>
    <div class="contenedor">
        <section class="section-enlaces">
            <a href="index.html">Inicio / <a>Carrito de Compras</a></a>
        </section>
        <section class="section_tabla">
            <table>
                <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 30%;">
                    <col style="width: 15%;">

                    <col style="width: 5%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Descripcion</th>
                        
                        <th>Cantidad</th>
                        
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="/assets/img/iron_man_3.jpg" alt="">
                        </td>
                        <td>
                            <p>Iron Man 3</p>
                        </td>
                        <td>
                            <p>1</p>
                        </td>
                        
                        <td class="trash">
                            <i class="far fa-trash-alt"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total</td>
                        <td colspan="1">1</td>
                    </tr>                        
                </tfoot>
            </table>
        </section>
        <section class="section-btn">
            <a href="productos.html">Seguir | <i class="fas fa-cart-plus"></i></a>
            <a href="checkout.html">Procesar Compra</a>
        </section>
    </div>
</main>