
    <main>
        <div class="contenedor">
            <div class="contenedor_productos">
                <aside class="aside_productos">
                    <div class="aside_productos-title">
                        <h2>Productos</h2>
                    </div>
                    <div class="aside_productos-content">
                        <ul>
                            <li>Familiar</li>                            
                            <li>Terror</li>                            
                            
                        </ul>
                    </div>
                </aside>
                <section class="section_productos">
                    <h2>Lista de Productos</h2>
                    <div class="list_productos">
                        <div class="list_productos-plato">
                            <div class="productos-plato-img">
                                <img src="/assets/img/iron_man_3.jpg" alt="">
                            </div>
                            <h3>Iron man 3 español</h3>
                            <div class="list_productos-opt">
                                <a routerLink="/detalle" routerLinkActive="active">Comprar</a>
                            </div>
                        </div>

                        <div class="list_productos-plato">
                            <div class="productos-plato-img">
                                <img src="/assets/img/increibles_2.jpeg" alt="">
                            </div>
                            <h3>Los Increibles 2 subtitulada</h3>
                            <div class="list_productos-opt">
                                
                                <a href="">Comprar</a>
                            </div>
                        </div>
                        <div class="list_productos-plato">
                            <div class="productos-plato-img">
                                <img src="/assets/img/sonic.jpg" alt="">
                            </div>
                            <h3>Sonic ingles</h3>
                            <div class="list_productos-opt">
                                
                                <a href="">Comprar</a>
                            </div>
                        </div>

                        
                        <div class="list_productos-plato">
                            <div class="productos-plato-img">
                                <img src="/assets/img/sherk_3d.jpg" alt="">
                            </div>
                            <h3>Sherk 3D español</h3>
                            <div class="list_productos-opt">
                                
                                <a href="">Comprar</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
