



<div class="hero">

<section class="texto-header">
    <h1>"Comodidad de casa para todos"</h1>
    <h2>- Automoviles | Cinema Center -</h2>
</section>
<div class="wave" style="height: 120px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C206.26,182.07 286.40,187.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff;"></path>
    </svg></div>
</div>
<main>
    <section class="contenedor">
        <div class="contenido-intro">
            <div class="textos-intro">
                <h2 class="textos_intro-title">Peliculas con mejor comodidad</h2>
                <p>Experimentar la mejor calidad de audio y vista desde su auto con la comodidad y privacidad
                    consentida.
                    <br><br>Para alguna compra durante la pelicula simplemente encienda su faro.
                </p>
                <a routerLink="repertorio" routerLinkActive="active">Repertorio</a>
            </div>
            <video autoplay loop muted>
                <!--source src="video/¡Haz una parrilla peruana deliciosa!.mp4" type="video/mp4"-->
            </video>
        </div>
    </section>
    <section class="about-chef">
        <div class="contenedor">
            <h2 class="titulo">NUESTROS SERVICIOS</h2>
            <div class="cont-chef">
                <div class="contenido-chefs">

                    <h3>General</h3>
                    <p>S/. 15</p>
                </div>
                <div class="contenido-chefs">

                    <h3>VIP</h3>
                    <p>S/. 22</p>
                </div>
                <div class="contenido-chefs">

                    <h3>Super VIP</h3>
                    <p>S/. 30</p>
                </div>
            </div>
        </div>
    </section>
</main>